.freelnacer-gigs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: center;
    background-color: whitesmoke;
    height: 100vh;


}

.freelancer-gig div img {
    height: 100%;
    width: 100%;
    
}
.gig-detail{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.gig-detail small{
   min-width:1px ;
    background-color: grey;
}

.freelancer-gig {
    cursor: pointer;
    height: 300px;
    width: 200px;
    margin: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

}
.freelancer-gig:hover{
    transform: scale(1.05);
}

.freelancer-gig small{
    padding-left: 10px;
}
.freelancer-gig strong{
    padding-left: 10px;
}
.freelancer-gig b{
    padding-left: 10px;
}









*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */