.table-container {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 10px;
}

.content-table .table-heading tr {
  background-color:#e4e4e4;
    color: #424242;
    text-align: left;
}

.content-table th {
    padding: 15px 20px;
}

.content-table td {
    padding: 15px 20px;
    padding-right: 100px;
}

.column-1 {
    min-width: 500px;

}

.column-1-content {
    min-width: 500px;
    display: flex;

    margin-right: 20px;
}

.column-1-content input {
    margin-right: 20px;
}

.last-column {
    max-width: 5px;
}

.last-column button {
    outline: none;
    margin-right: 20px;
    /*background-color:rgb(87, 152, 236);*/
    background-color: rgb(18, 142, 214);
    border-radius: 5px;
    border-style: none;
    padding: 7px 20px 7px 20px;
    cursor: pointer;
    color: whitesmoke;
}
.last-column button:hover{
    background-color:rgba(13, 100, 150, 1);
}
.last-column button:active{
    background-color:rgba(19, 144, 216, 1);
}

.row-content {
    background-color:white;
    border-bottom: 1px solid rgb(128, 125, 125);

}
.row-content:hover{
    background-color:whitesmoke;
    cursor: pointer;

}



.last-column input{
    background-color: grey;
    border-style: none;
    padding: 5px;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    
}