.Navbar-container{
    font-family: Arial, Helvetica, sans-serif;
   /* background-color:rgb(66, 211, 66);*/
   background-color: rgb(50, 194, 98);
    color: whitesmoke;

}
.nav-item{
    color:whitesmoke;
    
}
.nav-item:hover{
    text-decoration: none;
}

.navbar{
    display:flex;
    flex-direction:row;
    justify-content:space-between;

    
}
.navbar ul{
    font-size :18px;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    flex-basis: 500px;
}

.navbar ul li{
    padding-top: 10px;
}
.navbar button{
    outline:none;
    margin-right: 20px;
    /*background-color:rgb(87, 152, 236);*/
    background-color: rgb(18, 142, 214);
    border-radius:5px;
    border-style: none;
    padding:7px 20px 7px 20px;
    cursor: pointer;
    color:whitesmoke;
}
.navbar button:hover{
    background-color:rgba(13, 100, 150, 1);
}
.navbar button:active{
    background-color:rgba(19, 144, 216, 1);
}